# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\la anonima\Desktop\Jorge\Universidad\Tuped\AyED\Tp1 Repo\repo_tp1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
